:root {
    --primary-color: #000000;
    --secundary-color: #52057b;
    --thirty-color: #892cdc;
    --global-color: #bc6ff1;
    --font-title: 'Ubuntu', sans-serif;
    --font-global: 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}


/*wrapper*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(150px, 1fr));
    grid-auto-flow: row;
    gap: 5px;
    height: 820px;
    width: 100%;
}

/*styles*/

/*header-styles*/
.header {
    display: flex;
    grid-row: 1 / 1;
    grid-column: 1 / 5;
    height: 50%;
    position: sticky;
    top: 0;
    width: 100%;
}

.header__tittle {
    height: 100%;
    width: 40%;
}

.header__nav {
    height: 100%;
    width: 60%;
    position: relative;
}

.header__list {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    position: relative;
    z-index: 1;
    list-style: none;
    width: 0;
}

.header__list-item {
    height: 30%;
    width: 100%;
    opacity: 0;
}

/*animaciones*/
.hamburguer-menu-animation {
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1, 0;
}

.header__list--item-view-animation {
    animation-name: views-items;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1, 0;
}
@keyframes views-items{
    60%{
        opacity: 0.5;
    }
    90%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

@keyframes move{
    60% {
        width: 200px;
        background-color: blue;
    }
    90% {
        width: 350px;
        background-color: blue;
    }
    100%{
        width: 400px;
        background-color: blue;
    }
}

/*hamburguer menu*/
.activator-menu {
    width: 30px;
    height: 20px;
    margin: 100px auto;
    position: relative;
    z-index: 2;
}

.pitcher {
    position: absolute;
    display: none;
}

.activator-menu > label {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height: 100%;  
    justify-content: space-between;
    position: relative;
    top: -90px;
    right: 18px;
}

.activator-menu-linea {
    background-color: #000000;
    height: 2px;
    opacity: 1;
    transform: translateY(0) rotate(0);
    transition: all 0.2s;
}

.pitcher:checked ~ label .activator-menu-linea:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.pitcher:checked ~ label .activator-menu-linea:nth-child(2) {
    opacity: 0;
}

.pitcher:checked ~ label .activator-menu-linea:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

