@media only screen and (min-width: 720px) {
    .wrapper {
        height: 1080px;
    }
    .presentation__title {
        height: 100px;
        margin-bottom: 2px;
    }
    .presentation__mini_description {
        margin-bottom: 50px;
    }
    .about-me__title {
        height: 50px;
        margin-bottom: 20px;
        padding: 25px auto;
    }

    .contact__github {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .contact__platzi {
        grid-column: 3 / 6;
        grid-row: 1 / 2;
    }
    .contact__linkedin {
        grid-column: 1 / 6;
        grid-row: 2 / 4;
    }

    .contact__academlo {
        grid-column: 1 / 3;
        grid-row: 4 / 6;
    }
    .contact__twitter {
        grid-column: 3 / 6;
        grid-row: 4 / 6;
    }
    .modal {
        margin-top: -140vh;
    }
    .modal__message {
        width: 80%;
    }
    .modal__paragraph {
        margin: 25px auto;
    }
    .modal__button {
        width: 100px;
        left: 45%;
    }
}

@media only screen and (min-width: 920px) {
    .wrapper {
        height: 1280px;
    }
    .presentation, .skills,.contact-and-studies, 
    .about-me {
        height: 320px;
        margin: 0 auto;
    }
    .presentation {
        height: 220px;
    }
    .presentation__title {
        font-size: 1.5rem;
    }
    .presentation__mini_description-paragraph {
        font-size: 1.2rem;
    }
    .about-me {
        margin-top: 170px;
        flex-direction: row;
    }
    .about-me__title {
        font-size: 1.5rem;
    }
    .about-me__description__paragraph {
        font-size: 1.2rem;
    }
    .about-me__description__image {
        margin: 30px auto;
    }
    .contact-and-studies {
        gap: 2px;
        margin-top: 440px;
    }
    .contact__github > h2 a, .contact__platzi > h2 a,
    .contact__academlo > h2 a {
        font-size: 2rem;
    }
    .contact__twitter > h2 i, .contact__linkedin > h2 i,
    .contact__github > h2 i {
        font-size: 2rem;
        width: 100px;
        height: 100px;
        margin: 15px auto;  
    }
    .contact__github:hover {
        background-color: #000000;
    } 
    .contact__platzi:hover {
        background-color: #98CA3F;
    }
    .contact__linkedin:hover {
        background-color: #0A66C2;
    }
    .contact__academlo:hover {
        background-color: #E84959;
    }
    .contact__twitter:hover {
        background-color: #1DA1F2;
    }
    .skills {
        margin-top: 660px;
    }
    .footer {
        margin-top: 760px;
    }
    .modal {
        margin-top: -160vh;
    }
    .modal__message {
        width: 50%;
        height: 250px;
    }
    .modal__button {
        width: 100px;
        left: 45%;
    }
}