.skills {
    border-bottom: 1px solid var(--global-color);
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.skills__tittle {
    border: 1px solid var(--global-color);
    height: 40px;
    width: 90%;
    text-align: center;
    font-family: var(--font-title);
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.skills_itermediate, .Basic_intermediate {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

.skills_itermediate-py,.skills_itermediate-react,
.skills_itermediate-node, .skills_itermediate-tittle {
    height: 100%;
    text-align: center;
    font-size: 0.9;
    font-family: var(--font-global);
    padding: 10px 0;
    width: 90%;
}

.Basic_intermediate-git, .Basic_intermediate-db,
.Basic_intermediate-css, .Basic_intermediate-structure, .Basic_intermediate-tittle {
    height: 100%;
    text-align: center;
    font-size: 0.9;
    font-family: var(--font-global);
    width: 90%;
}
.skills_itermediate-tittle, .Basic_intermediate-tittle {
    font-family: var(--font-title);
}

@media (min-width: 720px) {
    .skills {
        width: 98%;
        height: 500px;
    }
    .skills__tittle {
        height: 60px;
        font-size: 1.2rem;
        margin-bottom: 18px;
        padding: 10px 0;
    }
    .skills_itermediate-py,.skills_itermediate-react,
    .skills_itermediate-node{
        font-size: 1.1rem;
        padding: 15px 0;
    }
    .Basic_intermediate-git, .Basic_intermediate-db,
    .Basic_intermediate-css, .Basic_intermediate-structure {
        font-size: 1rem;
        padding: 15px 0;
    }
    .skills_itermediate-tittle, .Basic_intermediate-tittle {
        font-size: 1.1rem;
    }
}
@media (min-width: 1020px) {
    .skills {
        height: 550px;
    }
    .skills_itermediate, .Basic_intermediate {
        flex-direction: row;
    }
    .skills_itermediate-tittle, .Basic_intermediate-tittle {
        font-size: 1.5rem;
        padding: 90px 0;
    }
    .skills_itermediate-py,.skills_itermediate-react,
    .skills_itermediate-node{
        font-size: 1.5rem;
        padding: 90px 0;   
    }
    .skills_itermediate-py i,.skills_itermediate-react i,
    .skills_itermediate-node i{
        font-size: 1.8rem;
    }
    .Basic_intermediate-git, .Basic_intermediate-db,
    .Basic_intermediate-css, .Basic_intermediate-structure {
        font-size: 1.5rem;
        padding: 90px 0; 
    }
    .Basic_intermediate-git i, .Basic_intermediate-db i,
    .Basic_intermediate-css i, .Basic_intermediate-structure i {
        font-size: 1.8rem;
    }
    /*animation*/
    .skills_itermediate-node:hover, .skills_itermediate-node i:hover {
        color: #54CE00;
    }
    .skills_itermediate-react:hover, .skills_itermediate-react i:hover, .Basic_intermediate-css:hover {
        color: #00D8FF;
    }
    .skills_itermediate-py:hover {
        color: #007FF4;
    }
    .skills_itermediate-py i:hover, .Basic_intermediate-db:hover {
        color: #FFC727;
    }
    .Basic_intermediate-git:hover {
        color: #F05033;
    }

}